.Home {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(8, 8, 8);
}

.Home main section {
  height: 100vh;
  padding: 14vh 0 14vh 0;
}

@media screen and (max-width: 450px) {
  .Home main section {
    height: 100%;
  }
}

/* Portrait orientation lock */
/* @media screen and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */
