.Home {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(8, 8, 8);
}

.Home main section {
  height: 100vh;
  padding: 14vh 0 14vh 0;
}

@media screen and (max-width: 500px),
screen and (orientation: landscape) and (max-height: 600px)
{
  .Home main section {
    height: 100%;
  }
}
